In [11]:
import nltk
from nltk.stem import PorterStemmer
from nltk.corpus import stopwords

In [3]:
nltk.download()

showing info https://raw.githubusercontent.com/nltk/nltk_data/gh-pages/index.xml

True

In [4]:
paragraph= """" APJ Abdul kalam came into this world on 15th
            October 1931, at a time when India was under British 
            occupation. He was born to a Tamil Muslim family in 
            Tamil Nadu. His father was a boat owner while his 
            mother was a housewife. Furthermore, Kalam had five
            siblings and was the youngest of the lot.
            In school, Kalam was an average student but
            was still hardworking and bright. I think 
            this certainly is a great motivation for
            all the average students out there. Being 
            average, you must never ever underestimate 
            yourself and continue doing the hard work."""

In [5]:
sentences=nltk.sent_tokenize(paragraph)
sentences
#seperates para into sentences

['" APJ Abdul kalam came into this world on 15th\n            October 1931, at a time when India was under British \n            occupation.',
 'He was born to a Tamil Muslim family in \n            Tamil Nadu.',
 'His father was a boat owner while his \n            mother was a housewife.',
 'Furthermore, Kalam had five\n            siblings and was the youngest of the lot.',
 'In school, Kalam was an average student but\n            was still hardworking and bright.',
 'I think \n            this certainly is a great motivation for\n            all the average students out there.',
 'Being \n            average, you must never ever underestimate \n            yourself and continue doing the hard work.']

In [8]:
words=nltk.word_tokenize(paragraph)
words
#seperate paragraph into words

['``',
 'APJ',
 'Abdul',
 'kalam',
 'came',
 'into',
 'this',
 'world',
 'on',
 '15th',
 'October',
 '1931',
 ',',
 'at',
 'a',
 'time',
 'when',
 'India',
 'was',
 'under',
 'British',
 'occupation',
 '.',
 'He',
 'was',
 'born',
 'to',
 'a',
 'Tamil',
 'Muslim',
 'family',
 'in',
 'Tamil',
 'Nadu',
 '.',
 'His',
 'father',
 'was',
 'a',
 'boat',
 'owner',
 'while',
 'his',
 'mother',
 'was',
 'a',
 'housewife',
 '.',
 'Furthermore',
 ',',
 'Kalam',
 'had',
 'five',
 'siblings',
 'and',
 'was',
 'the',
 'youngest',
 'of',
 'the',
 'lot',
 '.',
 'In',
 'school',
 ',',
 'Kalam',
 'was',
 'an',
 'average',
 'student',
 'but',
 'was',
 'still',
 'hardworking',
 'and',
 'bright',
 '.',
 'I',
 'think',
 'this',
 'certainly',
 'is',
 'a',
 'great',
 'motivation',
 'for',
 'all',
 'the',
 'average',
 'students',
 'out',
 'there',
 '.',
 'Being',
 'average',
 ',',
 'you',
 'must',
 'never',
 'ever',
 'underestimate',
 'yourself',
 'and',
 'continue',
 'doing',
 'the',
 'hard',
 'work',
 '.']

In [12]:
stemmer=PorterStemmer()

In [17]:
for i in range(len(sentences)):
    words=nltk.word_tokenize(sentences[i])
    words=[stemmer.stem(word) for word in words if word not in set(stopwords.words('english'))]
    print("#####",words)
    sentences[i]=' '.join(words)

##### ['``', 'apjabdulkalamcameworld15thoctob1931', ',', 'timeindiabritishoccup', '.']
##### ['heborntamilmuslimfamilitamilnadu', '.']
##### ['hifatherboatownermotherhousewif', '.']
##### ['furthermor', ',', 'kalamfivesiblyoungestlot', '.']
##### ['inschool', ',', 'kalamaveragstudentstillhardworkbright', '.']
##### ['ithinkcertainligreatmotivaveragstud', '.']
##### ['beaverag', ',', 'mustnevereverunderestimcontinuhardwork', '.']

In [18]:
sentences

['`` apjabdulkalamcameworld15thoctob1931 , timeindiabritishoccup .',
 'heborntamilmuslimfamilitamilnadu .',
 'hifatherboatownermotherhousewif .',
 'furthermor , kalamfivesiblyoungestlot .',
 'inschool , kalamaveragstudentstillhardworkbright .',
 'ithinkcertainligreatmotivaveragstud .',
 'beaverag , mustnevereverunderestimcontinuhardwork .']